version: "3.9"

services:
  backend:
    build: ./api
    container_name: devops-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always

  frontend:
    build: .
    container_name: devops-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
